.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: solid #ffff00;
}

.image {
  width: 50%;
  border: dotted red;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff00;
  font-family: 'Arimo', sans-serif;
  font-family: 'Bangers', cursive;
  font-size: xx-large;
  text-align: center;
}



.right-header {
  width: 50%;
}