.container {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 2rem;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  

  body {
    background-color: black;
  }
  
  .header-content {
    padding-bottom: 6rem;
  }
  
  
  h1, p {
    color: #ffff00;
    font-family: 'Arimo', sans-serif;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
    text-align: center;
  }