.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1% !important;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff00;
  font-family: 'Arimo', sans-serif;
  font-family: 'Bangers', cursive;
  font-size: xx-large;
  text-align: center;
}

.right-header {
  justify-content: left;
}