*{
    margin: 0;
    padding: 0;
}

a {
    font-size: 30px;
    text-align: right;
}

.about-link {
    text-align: right;
}
  

h1, h2, p {
    animation: mymove 2s infinite alternate;
    color: #ffff00;
    font-family: 'Bangers', cursive;
}

@keyframes mymove {
    from {opacity:0;}
    to {opacity: 1;}
}


body{
    align-items: center;
    background-color: #030d17;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    font-weight: bold;
    font-size: 3rem;
    margin: 1.5rem;
    text-align: center;
}

.box {
    border: solid red;
    background-image: url('assets/twitdead.webp');
    border-radius: 5rem;
    background-repeat: repeat;
    background-size: 20%;
    height: 40vh;
    margin: 4.5rem;
    padding: 1rem;
    transition: height 0.5s ease-in-out;
    width: 65vw;
}
  
.box:hover {
    height: 45vh;
}
  
#quotes{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#author{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#newQuote{
    border: 2px solid rgb(31, 31, 214);
    background-color: rgb(31, 31, 214);
    border-radius: 10px;
    color: rgb(250, 248, 246);
    cursor: pointer;
    display: block;
    height: 50px;
    margin: auto;
    width: 100px;
}

#randomStrings {
    animation: mymove 0.75s infinite alternate;
    color: white;
    font-size: 1.75em;
    /* transition: opacity 0.1s ease-in-out; */
}

@keyframes mymove {
    from {opacity:0;}
    to {opacity: 1;}
}

#stringList {
    list-style: none;
}
  
#randomStrings:hover {
    opacity: 0;
}
  
.innerBox{
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5rem;
}